@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-main-bg text-main-text font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply px-10 py-4 bg-accent text-button-text text-xl rounded-button;
  }

  .card {
    @apply bg-card-bg rounded-card;
  }
}

@layer utilities {
  .group:hover .spacer {
    flex: 1;
    min-width: 0;
  }
  
  .group:hover svg {
    margin-left: 0;
  }
}

